*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Helvetica', sans-serif ;
}

.hero{
  
  height: 70vh ;
  background-image: url(/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  color: white;

}

.top{
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  font-size: 15px;
  color: #e9e9e9;
  position: absolute;
  left: 40px;
  top: 10px;
  width: 1200px;
}

.link a{
  color: #f6f7f6;
  text-decoration:none;
  margin: 0 5px;
  font-size: 10px;
  font-weight: bold;
  transition: color 0.5s ease;
}

.link a:hover{
  color: #007bff;
}

.iconos a{
  color: #fffdfa;
  margin: 10px;
  font-size: 15px;
  transition: color 0.5s ease;
}

.iconos a:hover{
  color: #007bff;
}

nav{ 
  position: absolute;
  top: 30px;
  width: 100%;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  margin: 20px;
}

nav li{
  margin: 5px 15px;
  position: relative;
  left: 280px;
  top: 20px;
}

nav a{
  text-decoration: none;
  color: #fbfff9;
  font-weight: bold;
  font-size: 15px;
  transition: color 0.5s ease;
}

nav a:hover{
  color: #007bff;

}

h2{
  font-size: 60px;
  position: relative;
  text-align: center;
  z-index: 1;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0,0.5);
}

.segunda{
  display: flex;
  justify-content: space-around;
  background-color: #fffeff;
  padding: 50px;
  gap: 40px;
  align-items: flex-start;
}

hr{
  height: 200px;
  color: transparent;
  border: transparent;
}
.parrafos p{

  flex: 1;
  flex-direction: column;
  margin-bottom:  20px;
  line-height: 1.6;
  font-size:14px;
  color: #333;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.parrafos h3{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.imagen{
  flex:1;
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-right: 10px;
}


.iconos1{
  background-color: #74777e;
  display: flex;
  flex-direction: column;
  padding: 5px;
  transform: translateY(-50%);
  top: 50%;
  right:0;
  position: fixed;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 5px;
  justify-content: flex-end;
}

.iconos1 a{
  text-align: center;
  color: #e9e9e9;
  margin: 5px;
  font-size: 18px;
  transition: color 0.5s ease;
  
}

.iconos1 a:hover{
  color: #007bff;
}

.tercera .bloquesparrafo{
  background: #f8f9fa;  /* color clarito de fondo */
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: 400px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.tercerap{
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}

.tercerap h3{
  font-size: 20px;
  margin-bottom: 20px;
}

.tercerap p{
  color: #555;
  line-height: 1.6;
  font-size: 15px
}

.cuarta{
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.cuarta .imagenes{
  display: flex;
  flex-wrap: nowrap;
}

.imagenes img{
  height: 452px;
  width: 350px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.imagenes img:hover {
  filter: grayscale(0%);
}

.quinta .partetriangulos{
  background-image: url(/img/poligonos.jpg);
  background-position: center -5%;
  background-repeat: no-repeat;
  background-size: 150%;
  display: flex;
  flex-direction: column;
  text-align: center; 
  height: 452px;
}

hr{
  height: 75px;
}

h1{
  font-size: 50px;
  margin-bottom: 10px;
  color: #171b24;
}

.partetriangulos p{
  color: #747474;
  font-size: 17px;
}

.partetriangulos button{
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #00c2e5;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.partetriangulos button:hover{
  background-color: #007bff;
}

.final{
  display: flex;
  height: 452px;
  padding: 40px 0px;
  justify-content: space-around;
  background-color: #232429;
}

.final .parte_1{
  gap: 8px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
}

h5{
  padding: 8px 0px;
  color: white;
  font-weight: bold;
}

.parte_1 .finalparrafo p{
  color: gray;
  font-size: 12px;
  padding-bottom: 10px;
}

.parte_1 .contacto p{
  color: white;
  font-weight: bold;
  padding: 5px 0px;
  font-size: 12px;
}

.listalogos ul{
  margin-top: 12px;
  display: flex;
  gap: 5px;
}

.parte_1 .listalogos li{
  list-style: none;
}

.listalogos a{
  color: #a2a4a4;
} 

.listalogos i{
  border: 2px solid #2d2e32;
  padding: 5px ;
  border-radius: 8px;
  background-color: #2d2e32;
  transition: background-color 0.5s ease;
}
.listalogos i:hover{
  background-color: #007bff;
}

.final .parte_2{
  margin-top: 34px;
  gap: 4px;
  width: 250px;
  height: 250px;
}

.parte_2 .centrado{
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  flex: 1;
  border-bottom: 1px solid #27282d;
}

.parte_2 img{
  width: 80px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.titulo{
  font-size: 12px;
  color: #e9e9e9;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.fecha{
  font-size: 10px;
  color:#a2a4a4 ;
}

.parte_3{
  margin-top: 34px ;
}

.parte_4{
  margin-top: 34px;
}

.marco{
  border: 5px solid #303137;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 10px;
  width: 280px;
}

.texto{
  font-size: 12px;
  color: gray;
  padding: 10px 0px;
}

.input{
  border: 3px solid #303137;
  background-color: #232429;
  padding: 10px 5px;
  margin: 10px 0px;
}
.boton{
  color: white;
  background-color: #00c2e5;
  padding: 10px 0px;
  border:none;
  transition: background-color 0.5s ease;
}

.boton:hover{
    background-color: #007bff;
}

.site-footer {
  background-color: #1f1f1f; /* fondo oscuro */
  color: #aaa;               /* texto gris claro */
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  flex-wrap: wrap;
}

.footer-left {
  flex: 1;
}

.footer-right a {
  color: #aaa;
  text-decoration: none;
  margin: 0 6px;
}

.footer-right a:hover {
  color: #00bcd4; /* azul clarito al pasar el mouse */
}

.footer-right .dot {
  color: #00bcd4;
  font-size: 14px;
}
